# User-specific
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/

# Rider / VS Code
.idea/
.vscode/
*.code-workspace

# MacOS
.DS_Store

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Logs
*.log

# Temporary files
*.tmp
*.temp
TODO.md